<md-content flex class="md-margin" layout-align="center center">
    <md-card flex class="fixed-card md-whiteframe-2dp">
        <div class="thankyou-wrapper">
            <md-icon class="md-48 addCart-color">done_all</md-icon>
            <H6 class="md-display-1">All Done</H6>
            <p class="md-body-1">Thank you for your interest<br> We shall be in contact soon...</p>
            <md-button ui-sref="home">
							<md-tooltip>
		    				Go back to Home
		  				</md-tooltip>
							<md-icon class="brand-color md-36">home</md-icon>
						</md-button>
        </div>
    </md-card>
</md-content>
